@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Автор";
}

<div class="card mt-3 shadow">
    <div class="card-header bg-info text-white">
        <h2>Об авторе проекта</h2>
    </div>
    <div class="card-body">
        <p>
            Сайт создал Корязин Егор, студент группы М24-ИВТ-4. <br />
        </p>
        <p>
            Мой GitHub:
            <a href="https://github.com/Kirilloker" target="_blank">https://github.com/Kirilloker</a>
        </p>
    </div>
</div>
